<div [style.max-height.px]="viewHeight" style="display: flex;flex-direction: column;">
  <div>
    <ngx-codemirror id="codemirrorID"
                    [options]="codeMirrorOptions"
                    [ngModel]="obj"
                    (ngModelChange)="setEditorContent($event)">
    </ngx-codemirror>
  </div>
  <div style="background-color: #1f272c; display: flex">
    <button mat-button style="color: white" (click)="runCode('run')" class="buttonCode">
      <mat-icon aria-hidden="false" aria-label="Run icon">play_arrow</mat-icon>
      Run
    </button>
    <button mat-button (click)="runCode('submit')" style="color: white" class="buttonCode">
      Submit
    </button>
    <ng-select [items]="langsAvailable" [(ngModel)]="selectedlang" bindLabel="key" style="padding: 0em; width: 15%"
               class="custom"></ng-select>

  </div>
  <mat-checkbox class="example-margin" [(ngModel)]="customInput">Custom Input</mat-checkbox>
  <div class="CodeMirror cm-s-material CodeMirror-wrap" style="" id="resultTextarea">
    <ng-template [ngIf]="data.length > 0">
      <ng-template [ngIf]="errorcomplile === 0" [ngIfElse]="errorTemplate">
        <div style="color: white; padding: 2rem">
          <ng-template [ngIf]="!runCodeVar" [ngIfElse]="runTemplate">


          <span>
          <p>Result</p>
          <mat-list>
            <mat-list-item *ngFor="let i of testCases['passed']" style="color: darkgreen">Testcase No. - {{i + 1}}
              : Passed</mat-list-item>
            <mat-divider></mat-divider>
          </mat-list>
          <mat-list>
            <mat-list-item *ngFor="let i of testCases['failed']" style="color: crimson">Testcase No. - {{i + 1}}
              : Failed</mat-list-item>
            <mat-divider></mat-divider>
          </mat-list>
          <span>
            Total Testcase Passed: {{testCases['passed'].length}} / {{testCases['passed'].length + testCases['failed'].length}}
          </span><br>
          <span>
            Total Testcase Failed: {{testCases['failed'].length}} / {{testCases['passed'].length + testCases['failed'].length}}
          </span>
        </span>

          </ng-template>
          <ng-template #runTemplate>
            <h2>Compiled Succesfully</h2>
            <pre style="width: 50%;">{{data}}</pre>
          </ng-template>

        </div>
      </ng-template>
      <ng-template #errorTemplate>
        <div
          style="display: flex; align-items: center; flex-direction: column; color: white; padding: 2rem">

          <h2>Compile Failed</h2>
          <span style="width: 50%;white-space: pre-line">{{data}}</span>

        </div>
      </ng-template>

    </ng-template>
  </div>
</div>
